<div class="color-line"></div>

<div class="back-link">
    <!--<a ui-sref="dashboard" class="btn btn-primary">Back to Dashboard</a>-->
</div>

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>PLEASE LOGIN TO SMOOTHERLY</h3>
                <small>The best way to save money</small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                        <form action="#" id="loginForm">
                            <!--<button class="btn btn-success btn-block">Login</button>-->
                          <a ng-click="login()" class="btn btn-success btn-lg btn-block">SignIn</a>
                        </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">

        </div>
    </div>
</div>
